body {
    background-image: url("images/medievaltownfreewallpaper.png");
    background-color: rgb(207, 196, 180);
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment: fixed;
    text-align: center;
}

section {
  margin: 1%;
  background-color: #ebe2ddef;
  border-radius: 5px;
}

article {
background-color: #ebe2ddef;
border-radius: 5px;
padding: 1%;
}

summary{
  font-variant: small-caps;
}
h1 {
  background-color: #ebe2ddef;
  border-radius: 5px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #c72c2c;
    color: rgb(0, 0, 0);
  }
  
  .active {
    background-color: #ac2e2591;
    color: white;
  }
