body {
background: url("https://github.com/Greiye/greiye.github.io/blob/main/GridPaperBackground.png");
background-size: contain, cover; /* Adjust as needed */
background-repeat: repeat;
}


h1,
p {
  font: 1em "Fira Sans", sans-serif;
  text-align: center;
}

footer {
  text-align: center;
}

.titlediv {
  width: 50%; /* Adjust the width as needed */
  border: 1px solid;
  border-radius: 12px;
  padding: 5px;
  text-align: center;
  margin: 0 auto; /* Center the element horizontally */
  margin-bottom: 5px;
}

.shadowbox {
  color: Brown;
  width: 50%; /* Adjust the width as needed */
  border: 1px solid #333;
  box-shadow: 8px 8px 4px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin: 0 auto; /* Center the element horizontally */
}
